body {
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
}

.link-hover:hover {
  color: #fdb93c !important;
}

.prop-title {
  font-family: "Barlow", sans-serif;
  font-size: 2rem !important;
}

.navbar {
  min-height: 74px !important;
}

#movieColumn .overview-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #212529de;
  color: #fff;
  border-radius: 0.3rem;
  height: 100%;
  padding: 20px;
  width: 0;
  opacity: 0;
  text-align: initial;
  cursor: pointer;
  -webkit-transition: width cubic-bezier(0, 0.98, 0.34, 0.9) 0.3s 0.1s;
  transition: width cubic-bezier(0, 0.98, 0.34, 0.9) 0.3s 0.1s;
}

#movieColumn .overview-text {
  overflow: hidden;
  height: inherit;
  opacity: 0;
  -webkit-transition: ease 0.1s 0.4s;
  transition: ease 0.1s 0.4s;
}

#movieColumn:hover .overview-container {
  width: calc(100%);
  opacity: 1;
  -webkit-transition: width cubic-bezier(0, 0.98, 0.34, 0.9) 0.3s 0.1s;
  transition: width cubic-bezier(0, 0.98, 0.34, 0.9) 0.3s 0.1s;
}

#movieColumn:hover .overview-text {
  opacity: 1;
  -webkit-transition: ease 0.1s 0.4s;
  transition: ease 0.1s 0.4s;
}

#movieColumn:hover .poster-img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
}

#movieColumn:not(:hover) .overview-container {
  width: 0;
  opacity: 0;
  -webkit-transition: cubic-bezier(0, 0.98, 0.34, 0.9) 0.3s;
  transition: cubic-bezier(0, 0.98, 0.34, 0.9) 0.3s;
}

#movieColumn:not(:hover) .poster-img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
}

.show-logo {
  display: none;
}

@media (max-width: 1000px) {
  .form-control {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
    width: 50% !important;
  }
  #navbarSupportedContent {
    -webkit-box-ordinal-group: 5 !important;
        -ms-flex-order: 4 !important;
            order: 4 !important;
  }
}

@media (max-width: 545px) {
  #logoName {
    display: none !important;
  }
  .show-logo {
    display: inline-block;
    font-size: 38px;
  }
  .form-control {
    width: 70% !important;
    -webkit-transition: cubic-bezier(0, 0.98, 0.34, 0.9) 0.2s;
    transition: cubic-bezier(0, 0.98, 0.34, 0.9) 0.2s;
  }
}

input#page-num {
  width: 2.3rem;
  max-width: 3.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
  border-bottom: 2px solid #ffb300;
  background: none;
  border-radius: 3px;
  outline: none;
  text-align: center;
}

input#page-num:focus {
  width: 3.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bg-pill {
  background-color: #393e46;
}

.brand-font {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}

input[type="search"]:focus {
  border-color: #ffdb3b;
  -webkit-box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(133, 114, 7, 0.6);
          box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(133, 114, 7, 0.6);
  outline: 0 none;
}

.bg-warning,
.btn-warning {
  background-color: #fdb827 !important;
}

.text-warning {
  color: #fdb827 !important;
}

input#search {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  color: #fff;
}

.form-control {
  background: none;
  border-radius: 0;
  border: 3px double #fdb827 !important;
  border-radius: 5px;
}

.spinner-grow {
  width: 5rem;
  height: 5rem;
}

.container-lg {
  min-height: 100vh !important;
}

.dropdown-toggle::after {
  content: none;
}

.filter-size {
  width: 45px;
  height: 45px;
}

.sort-text {
  display: inline-block;
  position: relative;
  left: -30px;
  border: 4px double #fdb93c;
  color: #000;
  font-weight: bold;
  height: 45px;
  z-index: -2;
  padding: 6px 12px 6px 30px;
  border-radius: 0 35px 35px 0;
  height: 3 0px;
}
/*# sourceMappingURL=main.css.map */