// variables
$slide: cubic-bezier(0, 0.98, 0.34, 0.9);

body {
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
}

.g-center {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}

.link-hover:hover {
  color: #fdb93c !important;
}

.prop-title {
  font-family: "Barlow", sans-serif;
  font-size: 2rem !important;
}

.navbar {
  min-height: 74px !important;
}

#movieColumn {
  .overview-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #212529de;
    color: #fff;
    border-radius: 0.3rem;
    height: 100%;
    padding: 20px;
    width: 0;
    opacity: 0;
    text-align: initial;
    cursor: pointer;
    transition: width $slide 0.3s 0.1s;
  }
  .overview-text {
    overflow: hidden;
    height: inherit;
    opacity: 0;
    transition: ease 0.1s 0.4s;
  }
  &:hover .overview-container {
    width: calc(100%);
    opacity: 1;
    transition: width $slide 0.3s 0.1s;
  }
  &:hover .overview-text {
    opacity: 1;
    transition: ease 0.1s 0.4s;
  }
  &:hover .poster-img {
    transform: scale(0.8);
    transition: transform ease 0.3s;
  }
  &:not(:hover) .overview-container {
    width: 0;
    opacity: 0;
    transition: $slide 0.3s;
  }
  &:not(:hover) .poster-img {
    transform: scale(1);
    transition: transform ease 0.3s;
  }
}

.show-logo {
  display: none;
}

@media (max-width: 1000px) {
  .form-control {
    order: 2 !important;
    width: 50% !important;
  }
  #navbarSupportedContent {
    order: 4 !important;
  }
}

@media (max-width: 545px) {
  #logoName {
    display: none !important;
  }

  .show-logo {
    display: inline-block;
    font-size: 38px;
  }

  .form-control {
    width: 70% !important;
    transition: $slide 0.2s;
  }
}

input#page-num {
  width: 2.3rem;
  max-width: 3.5rem;
  transition: all 0.3s ease-in-out;
  border: none;
  border-bottom: 2px solid #ffb300;
  background: none;
  border-radius: 3px;
  outline: none;
  text-align: center;
}

input#page-num:focus {
  width: 3.5rem;
}

//remove input number arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bg-pill {
  background-color: #393e46;
}

//nav
.brand-font {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
}

input[type="search"]:focus {
  border-color: rgb(255, 219, 59);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(133, 114, 7, 0.6);
  outline: 0 none;
}

.bg-warning,
.btn-warning {
  background-color: #fdb827 !important;
}

.text-warning {
  color: #fdb827 !important;
}

input#search {
  border: none !important;
  outline: none !important;
  width: 100%;
  background: none;
  color: #fff;
}

::placeholder {
  color: #fdb827;
}

.form-control {
  background: #6c757d;
  border: none !important;
  outline: none !important;
}
.spinner-grow {
  width: 5rem;
  height: 5rem;
}

.container-lg {
  min-height: 100vh !important;
}

//dropdown arrow icon
.dropdown-toggle::after {
  content: none;
}

.filter-size {
  width: 45px;
  height: 45px;
}

.sort-text {
  display: inline-block;
  position: relative;
  left: -30px;
  border: 4px double #fdb93c;
  color: #000;
  font-weight: bold;
  height: 45px;
  z-index: -2;
  padding: 6px 12px 6px 30px;
  border-radius: 0 35px 35px 0;
  height: 3 0px;
}

// background

.parallax {
  position: absolute;
  width: 100%;
  height: 550px;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  z-index: 1;
  transform: translate(0, -15%);
  &::after {
    backdrop-filter: blur(3px);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
  }
}

.box-margin {
  height: 550px !important;
  z-index: 1;
}

@media (max-width: 770px) {
  .parallax {
    height: 700px;
    transform: translate(0, -5%);
  }

  .box-margin {
    margin-top: 50px;
    .poster-container {
      img {
        width: 180px !important;
      }
      & + div.container {
        margin: 20px 0 0 0 !important;
        text-align: center;
      }
    }
  }
}

.pic-main-container {
  width: 100%;
  height: 250px;
  position: relative;

  .pic-collection-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    .pic-collection {
      display: flex;
      place-items: center;
      overflow: scroll hidden;
      height: 100%;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        height: 7px;
      }

      &::-webkit-scrollbar-track {
        background: none;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #a5b8c8;
        border-radius: 5px;
      }

      button {
        position: absolute;

        width: 50px;
        height: inherit;
        border: none !important;
        background: #cdd0cb5e;
        z-index: 50;
      }
    }
  }
}

//rating
.stars-wrapper {
  display: inline-block;
  font-size: 30px;
  font-family: Times;
  line-height: 1;
}

span.stars {
  letter-spacing: 3px;
  background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

//no poster width
.card-width {
  min-width: 150px !important;
  height: 85%;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  img {
    height: 180px;
    object-fit: cover;
  }
  span.text-secondary {
    font-size: 12px !important;
  }
}

.h-300 {
  height: 320px !important;
}

//credits
#nav-tab {
  button.tab-bg {
    background: #d5daeb;
    color: #41444b !important;
  }
  .active {
    background: #fff !important;
  }
}
